# FastAPI core
fastapi>=0.115.0
uvicorn[standard]>=0.34.0

# Configuration & Logging
pydantic-settings
python-dotenv
loguru

# Authentication
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
email-validator

# Database
motor # Async MongoDB

# PDF Processing
pdfplumber
Pillow

# AI & LLM
openai

# AWS S3
boto3